In [3]:
import matplotlib.pylab as plt
import pandas as pd
import numpy as np

df = pd.read_csv('../data/hotCityHouses.csv')
df

,city,local,total_price,unit_price,layout,area,floor,time,title
0,苏州,昆山,173.0,10035,3室1厅,172.40,48.0,2021-03-18,世茂蝶湖湾 3室1厅 南 北
1,北京,朝阳,645.0,75731,2室1厅,85.17,6.0,2020-09-20,首开常青藤四期 精装两居 南北通透 电梯洋房
2,苏州,工业园区,120.0,28170,1室1厅,42.60,4.0,2021-03-21,淞泽家园九区 通透一房 业主诚心出售 视野好 位置好
3,苏州,相城,172.0,21492,2室1厅,80.03,30.0,2021-03-24,庆元家园，地铁2号线，交通方便，元和板块
4,苏州,昆山,180.0,20738,3室1厅,86.80,30.0,2021-03-28,花桥裕花园 3室1厅 南
...,...,...,...,...,...,...,...,...,...
14891,成都,锦江,165.0,18511,3室1厅,89.14,34.0,2021-03-12,上东锦城A区 3室1厅 南
14892,上海,宝山,508.0,33028,3室2厅,153.81,15.0,2020-04-10,单价3万3+精装修+电梯房次顶楼
14893,苏州,姑苏,150.0,22880,2室1厅,65.56,5.0,2021-03-30,铁路三村 精装修 拎包入住 看房方便
14894,苏州,姑苏,135.0,24726,2室1厅,54.60,6.0,2021-03-07,大龙港新村非顶楼 全新精装两房朝南 诚意出售
14895,苏州,吴中,270.0,30145,3室2厅,89.57,22.0,2020-11-09,【品牌家具家电全留】地铁口旁 楼层好保养好 诚意出售

In [9]:
df.loc[0:4]

,city,local,total_price,unit_price,layout,area,floor,time,title
0,苏州,昆山,173.0,10035,3室1厅,172.40,48.0,2021-03-18,世茂蝶湖湾 3室1厅 南 北
1,北京,朝阳,645.0,75731,2室1厅,85.17,6.0,2020-09-20,首开常青藤四期 精装两居 南北通透 电梯洋房
2,苏州,工业园区,120.0,28170,1室1厅,42.60,4.0,2021-03-21,淞泽家园九区 通透一房 业主诚心出售 视野好 位置好
3,苏州,相城,172.0,21492,2室1厅,80.03,30.0,2021-03-24,庆元家园，地铁2号线，交通方便，元和板块
4,苏州,昆山,180.0,20738,3室1厅,86.80,30.0,2021-03-28,花桥裕花园 3室1厅 南

In [10]:
df[0:4]

,city,local,total_price,unit_price,layout,area,floor,time,title
0,苏州,昆山,173.0,10035,3室1厅,172.40,48.0,2021-03-18,世茂蝶湖湾 3室1厅 南 北
1,北京,朝阳,645.0,75731,2室1厅,85.17,6.0,2020-09-20,首开常青藤四期 精装两居 南北通透 电梯洋房
2,苏州,工业园区,120.0,28170,1室1厅,42.60,4.0,2021-03-21,淞泽家园九区 通透一房 业主诚心出售 视野好 位置好
3,苏州,相城,172.0,21492,2室1厅,80.03,30.0,2021-03-24,庆元家园，地铁2号线，交通方便，元和板块

In [12]:
# 打印第1行名为「area」的列
df.loc[0,'area']

172.4

In [13]:
# 显示索引
df.index

RangeIndex(start=0, stop=14896, step=1)

In [14]:
# 显示列名
df.columns

Index(['city', 'local', 'total_price', 'unit_price', 'layout', 'area', 'floor',
       'time', 'title'],
      dtype='object')

In [15]:
# 查看头部数据
df.head()

,city,local,total_price,unit_price,layout,area,floor,time,title
0,苏州,昆山,173.0,10035,3室1厅,172.40,48.0,2021-03-18,世茂蝶湖湾 3室1厅 南 北
1,北京,朝阳,645.0,75731,2室1厅,85.17,6.0,2020-09-20,首开常青藤四期 精装两居 南北通透 电梯洋房
2,苏州,工业园区,120.0,28170,1室1厅,42.60,4.0,2021-03-21,淞泽家园九区 通透一房 业主诚心出售 视野好 位置好
3,苏州,相城,172.0,21492,2室1厅,80.03,30.0,2021-03-24,庆元家园，地铁2号线，交通方便，元和板块
4,苏州,昆山,180.0,20738,3室1厅,86.80,30.0,2021-03-28,花桥裕花园 3室1厅 南

In [16]:
# 查看尾部数据 
df.tail(3)

,city,local,total_price,unit_price,layout,area,floor,time,title
14893,苏州,姑苏,150.0,22880,2室1厅,65.56,5.0,2021-03-30,铁路三村 精装修 拎包入住 看房方便
14894,苏州,姑苏,135.0,24726,2室1厅,54.60,6.0,2021-03-07,大龙港新村非顶楼 全新精装两房朝南 诚意出售
14895,苏州,吴中,270.0,30145,3室2厅,89.57,22.0,2020-11-09,【品牌家具家电全留】地铁口旁 楼层好保养好 诚意出售

In [17]:
# 查看数据的统计摘要
df.describe()

        total_price     unit_price          area         floor
count  14896.000000   14896.000000  14896.000000  14895.000000
mean     383.751283   44319.794509     88.718396     15.563746
std      337.605166   31042.235098     36.384551      9.964949
min       20.000000    3323.000000     15.000000      1.000000
25%      178.000000   21193.000000     65.227500      6.000000
50%      285.000000   34893.500000     85.600000     13.000000
75%      480.000000   59502.250000    101.792500     24.000000
max     7200.000000  260908.000000    978.620000     82.000000

In [18]:
# 按值排序
df.sort_values(by='area')

,city,local,total_price,unit_price,layout,area,floor,time,title
5462,苏州,工业园区,22.7,15134,1室0厅,15.00,NaN,2021-03-31,九龙仓风华里 1室0厅 南
8794,上海,黄浦,499.0,234824,1室0厅,21.25,6.0,2020-12-22,卢湾2+向明总价低，好租一室户。位置好。厨房不计面积
8203,南京,鼓楼,93.0,42957,1室1厅,21.65,4.0,2021-02-25,水佐岗 朝南 低总价 已出新 环境好
506,苏州,姑苏,98.0,44872,2室1厅,21.84,2.0,2021-04-01,沧实小振华，盛家带房卡，房东诚心出售，看房有钥匙！
34,苏州,姑苏,51.0,21870,1室1厅,23.32,22.0,2021-03-11,楼层高 采光好 视野开阔 苏舒适度高
...,...,...,...,...,...,...,...,...,...
1899,上海,闵行,3999.0,90300,7室3厅,442.86,17.0,2020-11-09,古北*别墅公寓混合社区，大面积空中别墅，俯瞰全景
1956,苏州,姑苏,2500.0,42373,5室3厅,590.00,1.0,2021-03-23,市区独栋别墅，带汽车库，院子200平占地450平
447,南京,玄武,1900.0,31133,4室4厅,610.30,3.0,2021-03-30,美林墅 4室4厅 南 北
13985,上海,浦东,5300.0,78701,5室3厅,673.44,3.0,2020-07-27,大面宽27米，占地两亩，全户型朝南，南面临大河
12975,上海,松江,3280.0,33517,6室3厅,978.62,2.0,2020-04-16,占地2.3亩 花园集中朝南 全套房设计 带电梯

In [20]:
# 按照列total_price降序排列数据
df.sort_values('total_price',ascending=False)

,city,local,total_price,unit_price,layout,area,floor,time,title
1351,上海,静安,7200.00,260908,3室2厅,275.96,45.0,2021-02-10,满五無個稅，高区三件套景观，户型方正，全明采光
13985,上海,浦东,5300.00,78701,5室3厅,673.44,3.0,2020-07-27,大面宽27米，占地两亩，全户型朝南，南面临大河
1224,上海,黄浦,5100.00,116890,3室3厅,436.31,38.0,2021-03-15,融创少有顶楼复式，带80平露台，业主自住装修诚意出售
2351,上海,徐汇,4380.00,178303,4室2厅,245.65,18.0,2021-03-15,媲美古北壹号4房，面宽7米，层高3.15，三个大阳台
2332,北京,海淀,4300.00,159721,4室2厅,269.22,7.0,2021-03-26,万柳万泉新新家园 双卧朝南眼睛4居 精装修 有车位
...,...,...,...,...,...,...,...,...,...
10938,成都,青白江,30.80,3323,2室1厅,92.70,13.0,2021-03-28,房子户型方正。采光不错，房东诚心出售
8966,成都,金堂,29.00,3782,2室1厅,76.68,28.0,2021-03-25,带入户花园，视野开阔，采光很好
2777,成都,龙泉驿,23.95,6906,1室0厅,34.68,18.0,2020-04-13,金巴黎 精装温馨套一带全套家具家电
5462,苏州,工业园区,22.70,15134,1室0厅,15.00,NaN,2021-03-31,九龙仓风华里 1室0厅 南
2232,成都,郫都,20.00,5446,1室1厅,36.73,18.0,2021-01-20,业主急售急售急售价格可谈，税可谈

In [21]:
# df['A'] 与 df.A 等效
df.local

0          昆山
1          朝阳
2        工业园区
3          相城
4          昆山
         ...
14891      锦江
14892      宝山
14893      姑苏
14894      姑苏
14895      吴中
Name: local, Length: 14896, dtype: object

In [22]:
# 分组
df.groupby('city').sum()

       total_price  unit_price       area    floor
city
上海    1.771080e+06   201473345  255272.74  32859.0
北京    1.752958e+06   216148558  249122.85  40342.0
南京    8.952707e+05   110348453  249545.69  42736.0
成都    4.606242e+05    51112827  266946.38  63755.0
苏州    8.364260e+05    81104476  300661.57  52130.0

In [23]:
# 多列分组
df.groupby(['city','local']).sum()

            total_price  unit_price      area    floor
city local
上海   嘉定        55734.50     6152481  12460.36   1710.0
     奉贤        15799.20     1863926   6639.69    537.0
     宝山       134618.29    15814578  25572.56   3082.0
     徐汇       155900.00    19472413  15328.44   2275.0
     普陀       113175.00    13824412  14315.81   2526.0
...                 ...         ...       ...      ...
苏州   常熟          128.00       13693     93.48     18.0
     张家港        3264.80      263883   2631.20    204.0
     昆山       171965.88    16318585  88755.49  15933.0
     相城        67084.90     6654132  28669.72   5731.0
     高新        83057.23     8528418  29287.34   4512.0

[69 rows x 4 columns]

In [24]:
# 统计出现的次数
df['local'].value_counts()

朝阳      891
昆山      857
浦东      743
江宁      597
工业园区    569
       ...
金堂        5
崇州        5
密云        3
怀柔        2
常熟        1
Name: local, Length: 68, dtype: int64

In [25]:
# 查看行数和列数
df.shape

(14896, 9)

In [26]:
# 选择area列的值大于100的行
df[df['area']>100]

,city,local,total_price,unit_price,layout,area,floor,time,title
0,苏州,昆山,173.0,10035,3室1厅,172.40,48.0,2021-03-18,世茂蝶湖湾 3室1厅 南 北
6,苏州,昆山,400.0,21425,4室2厅,186.70,7.0,2021-03-25,小饶推荐绿地21城电梯花园洋房，顶层复式，精装修
7,苏州,昆山,150.0,14923,2室2厅,100.52,7.0,2021-02-23,此房满2年，南北通透，精装修，楼层采光好
22,北京,朝阳,1010.0,92848,2室1厅,108.78,16.0,2021-03-22,慧谷阳光 南北通透 经典两居 随时签约
25,苏州,相城,265.0,21970,3室2厅,120.62,6.0,2021-02-26,香城花园二区南北通透户型业主婚装房.有汽车库
...,...,...,...,...,...,...,...,...,...
14872,北京,朝阳,590.0,53823,2室1厅,109.62,25.0,2021-03-31,北苑家园望春园，大两居，视野正对花园，诚心出售
14875,上海,宝山,855.0,57603,5室2厅,148.43,30.0,2020-11-11,楼层好视野采光好，有附加面积，得房率高，诚意出售
14881,成都,金牛,211.0,19139,3室2厅,110.25,32.0,2021-03-17,一环标准三室两厅双卫，出小区就是地铁5号线
14885,成都,高新,251.0,21272,4室2厅,118.00,28.0,2021-03-30,领馆国际城 4室2厅 南
14892,上海,宝山,508.0,33028,3室2厅,153.81,15.0,2020-04-10,单价3万3+精装修+电梯房次顶楼

In [27]:
# 按照列total_price排序数据，默认升序排列
df.sort_values('total_price')

,city,local,total_price,unit_price,layout,area,floor,time,title
2232,成都,郫都,20.00,5446,1室1厅,36.73,18.0,2021-01-20,业主急售急售急售价格可谈，税可谈
5462,苏州,工业园区,22.70,15134,1室0厅,15.00,NaN,2021-03-31,九龙仓风华里 1室0厅 南
2777,成都,龙泉驿,23.95,6906,1室0厅,34.68,18.0,2020-04-13,金巴黎 精装温馨套一带全套家具家电
8966,成都,金堂,29.00,3782,2室1厅,76.68,28.0,2021-03-25,带入户花园，视野开阔，采光很好
10938,成都,青白江,30.80,3323,2室1厅,92.70,13.0,2021-03-28,房子户型方正。采光不错，房东诚心出售
...,...,...,...,...,...,...,...,...,...
2332,北京,海淀,4300.00,159721,4室2厅,269.22,7.0,2021-03-26,万柳万泉新新家园 双卧朝南眼睛4居 精装修 有车位
2351,上海,徐汇,4380.00,178303,4室2厅,245.65,18.0,2021-03-15,媲美古北壹号4房，面宽7米，层高3.15，三个大阳台
1224,上海,黄浦,5100.00,116890,3室3厅,436.31,38.0,2021-03-15,融创少有顶楼复式，带80平露台，业主自住装修诚意出售
13985,上海,浦东,5300.00,78701,5室3厅,673.44,3.0,2020-07-27,大面宽27米，占地两亩，全户型朝南，南面临大河
1351,上海,静安,7200.00,260908,3室2厅,275.96,45.0,2021-02-10,满五無個稅，高区三件套景观，户型方正，全明采光

In [28]:
df.groupby(df['city']).size()

city
上海    2942
北京    2984
南京    3000
成都    2970
苏州    3000
dtype: int64

In [29]:
df['local'].groupby(df['local']).size()

local
东城       156
丰台       335
亦庄开发区     17
六合        32
双流       178
        ...
高新       478
高新西       39
黄浦        50
鼓楼       414
龙泉驿      172
Name: local, Length: 68, dtype: int64

In [31]:
a = list(df['area'])

In [32]:
df['total_price'].mean()

383.7512828813104

In [33]:
data = round(df.groupby(['city']).mean())
data['total_price'].tolist()  # 平均总价

[602.0, 587.0, 298.0, 155.0, 279.0]

In [36]:
df[df['city']=='北京'].groupby(df['local']).size()

local
东城       156
丰台       335
亦庄开发区     17
大兴       182
密云         3
怀柔         2
房山        77
昌平       239
朝阳       891
海淀       445
石景山      128
西城       241
通州       167
门头沟       43
顺义        58
dtype: int64

In [37]:
df['total_price'].groupby(df['city']).mean()

city
上海    601.998770
北京    587.452346
南京    298.423577
成都    155.092340
苏州    278.808650
Name: total_price, dtype: float64

In [38]:
df['unit_price'].groupby(df['city']).mean()

city
上海    68481.762407
北京    72435.843834
南京    36782.817667
成都    17209.706061
苏州    27034.825333
Name: unit_price, dtype: float64

In [39]:
layout = df['layout'].value_counts()[:7]
print(list(layout.index))
print(list(layout))

['2室1厅', '3室2厅', '3室1厅', '2室2厅', '1室1厅', '4室2厅', '4室1厅']
[4626, 3432, 2161, 2152, 1357, 597, 111]