map 函数：将函数套用到Series的每个元素中

apply 函数：将函数套用到DataFrame的行与列上

applymap 函数：将函数套用到DataFrame的每个元素中

In [1]:
import pandas as pd

data={
    'fruit':['apple','orange','banana','grape'],
    'price':['25元','12元','35元','40元']
}

df = pd.DataFrame(data)

def func(x):
    return x.split('元')[0]

df['price'] = df['price'].map(func)

df

    fruit price
0   apple    25
1  orange    12
2  banana    35
3   grape    40

In [2]:
data=[[1,2],[3,4],[5,6]]
df=pd.DataFrame(data,columns=['a','b'])


df['b']=df['b'].map(lambda x: 666 if x==4 else x )
df

   a    b
0  1    2
1  3  666
2  5    6