# datetime构造

In [1]:
import datetime

date = datetime.date(2021,10,23)
date

datetime.date(2021, 10, 23)

In [2]:
date.year

2021

In [3]:
date.day

23

In [4]:
time = datetime.time(9,10,34)
time

datetime.time(9, 10, 34)

In [5]:
time.hour

9

In [6]:
time.second

34

In [9]:
now_date = datetime.datetime.now()
now_date

datetime.datetime(2021, 10, 23, 21, 33, 10, 132797)

In [11]:
delta = now_date-datetime.datetime(2021,3,5,9,12)
delta

datetime.timedelta(days=232, seconds=44470, microseconds=132797)

# 数据转换

In [12]:
# 通过 str方法可以将 datetime转换为字符串

from datetime import datetime

stamp = datetime(2021,10,23)
stamp

datetime.datetime(2021, 10, 23, 0, 0)

In [13]:
str(stamp)

'2021-10-23 00:00:00'

In [14]:
stamp.strftime('%Y/%m/%d')

'2021/10/23'

In [15]:
stamp.strftime('%Y-%m-%d')

'2021-10-23'

In [16]:
stamp.strftime('%W') # 每年的第几周，星期一作为每周第一天

'42'

In [18]:
# 通过 datetime.strptime 方法可以将字符串格式转换为 datetime数据类型

value = '2018-4-12'

datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2018, 4, 12, 0, 0)

# 在pandas中，通过to_datetime 方法将字符串格式转换为时间数据类型

In [9]:
import pandas as pd
from datetime import datetime

df = pd.read_csv('../data/hotCityHouses.csv')
df.head()

,city,local,total_price,unit_price,layout,area,floor,time,title
0,苏州,昆山,173.0,10035,3室1厅,172.40,48.0,2021-03-18,世茂蝶湖湾 3室1厅 南 北
1,北京,朝阳,645.0,75731,2室1厅,85.17,6.0,2020-09-20,首开常青藤四期 精装两居 南北通透 电梯洋房
2,苏州,工业园区,120.0,28170,1室1厅,42.60,4.0,2021-03-21,淞泽家园九区 通透一房 业主诚心出售 视野好 位置好
3,苏州,相城,172.0,21492,2室1厅,80.03,30.0,2021-03-24,庆元家园，地铁2号线，交通方便，元和板块
4,苏州,昆山,180.0,20738,3室1厅,86.80,30.0,2021-03-28,花桥裕花园 3室1厅 南

In [16]:
x ='2021-03-18'
date = datetime.strptime(x,'%Y-%m-%d')
date.strftime('%Y')

'2021'

In [17]:
# 将日期转换为年份

def format_date(x):
    date = datetime.strptime(x,'%Y-%m-%d')
    month = date.strftime('%Y')
    return month

df['time'] = df['time'].map(format_date)
df.head()

,city,local,total_price,unit_price,layout,area,floor,time,title
0,苏州,昆山,173.0,10035,3室1厅,172.40,48.0,2021,世茂蝶湖湾 3室1厅 南 北
1,北京,朝阳,645.0,75731,2室1厅,85.17,6.0,2020,首开常青藤四期 精装两居 南北通透 电梯洋房
2,苏州,工业园区,120.0,28170,1室1厅,42.60,4.0,2021,淞泽家园九区 通透一房 业主诚心出售 视野好 位置好
3,苏州,相城,172.0,21492,2室1厅,80.03,30.0,2021,庆元家园，地铁2号线，交通方便，元和板块
4,苏州,昆山,180.0,20738,3室1厅,86.80,30.0,2021,花桥裕花园 3室1厅 南