In [2]:
import pandas as pd
import numpy as np

# 创建带有缺失值的数组
df1 = pd.DataFrame([[3,np.nan,3],
                    [1,6,np.nan],
                    [4,np.nan,9],
                    [np.nan,np.nan,np.nan]]
                )    
                
df1

     0    1    2
0  3.0  NaN  3.0
1  1.0  6.0  NaN
2  4.0  NaN  9.0
3  NaN  NaN  NaN

In [3]:
df1.isnull()    # 查看缺失值情况，True为缺失值
# df1.notnull()   # 查看缺失值情况，False为缺失值

       0      1      2
0  False   True  False
1  False  False   True
2  False   True  False
3   True   True   True

In [3]:
# 查看每列缺失值个数

df1.isnull().sum()

0    1
1    3
2    2
dtype: int64

In [ ]:
# 统计缺失值数量
df1.isnull().sum().sum()

In [5]:
# df1.dropna()    # 删除有缺失值的行
df1.dropna(how='all')    # 删除全为nun的行

     0    1    2
0  3.0  NaN  3.0
1  1.0  6.0  NaN
2  4.0  NaN  9.0

In [ ]:
# 如果需要删除列，即指定轴方向即可
# df1.dropna(how='all',axis=1)

In [6]:
# 对空值进行填充
# fillna返回的是一个新对象，不对对原数据进行修改，可以通过inplace进行就地修改

# df1.fillna(6,inplace=True  )

df2 = df1.fillna(6)
df2

     0    1    2
0  3.0  6.0  3.0
1  1.0  6.0  6.0
2  4.0  6.0  9.0
3  6.0  6.0  6.0